Repository RishiBaner/oneCCL, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Maria1Petrova, @ranukund, @nikitaxgusev, @srirajpaul

infra: bump cmake version
  CMakeLists.txt
  examples/CMakeLists.txt
  tests/functional/CMakeLists.txt
  tests/googletest-release-1.8.1/CMakeLists.txt
  tests/googletest-release-1.8.1/googletest/CMakeLists.txt
  tests/googletest-release-1.8.1/googletest/cmake/internal_utils.cmake
Owners: @nikitaxgusev, @srirajpaul

Update README.md to provide notice of deprecation of legacy C++ API.
  README.md
Owners: @Maria1Petrova

Update README.md
  README.md
Owners: @Maria1Petrova

Update README.md
  README.md
Owners: @Maria1Petrova

Update README.md
  README.md
Owners: @Maria1Petrova

Update README.md
  README.md
Owners: @Maria1Petrova

Update README.md
  README.md
Owners: @Maria1Petrova

Update README.md
  README.md
Owners: @Maria1Petrova

reduce-scatter to reduce_scatter
  doc/rst/source/benchmark-guide/benchmark.rst
Owners: @Maria1Petrova, @ranukund

Intel(R) oneAPI Collective Communications Library (oneCCL) 2021.16.1
  CMakeLists.txt
  deps/level_zero/include/layers/zel_tracing_api.h
  deps/level_zero/include/layers/zel_tracing_register_cb.h
  doc/rst/source/conf.py
  include/oneapi/ccl/config.h
  src/atl/mpi/atl_mpi.cpp
  src/atl/ofi/atl_ofi.cpp
  src/atl/ofi/atl_ofi_helper.cpp
  src/coll/algorithms/allgatherv/allgatherv.cpp
  src/coll/algorithms/allgatherv/sycl/allgatherv_sycl.cpp
  src/coll/algorithms/allreduce/sycl/allreduce_sycl.cpp
  src/coll/algorithms/alltoall/sycl/alltoall_sycl.cpp
  src/coll/algorithms/broadcast/sycl/broadcast_sycl.cpp
  src/coll/algorithms/recv/sycl/recv_sycl.cpp
  src/coll/algorithms/reduce_scatter/sycl/reduce_scatter_sycl.cpp
  src/coll/algorithms/send/sycl/send_sycl.cpp
  src/coll/algorithms/utils/sycl_coll_base.cpp
  src/coll/algorithms/utils/sycl_coll_base.hpp
  src/coll/group/group.cpp
  src/common/api_wrapper/ze_api_wrapper.hpp
  src/common/global/ze/ze_data.cpp
  src/common/global/ze/ze_data.hpp
  src/common/log/log.cpp
  src/common/log/log.hpp
  src/sched/entry/ze/cache/ze_cache.cpp
  src/sched/entry/ze/cache/ze_cache.hpp
  src/topology/topo_manager.cpp
  third-party-programs.txt
Owners: @Maria1Petrova, @ranukund, @nikitaxgusev, @srirajpaul

windows update
  include/oneapi/ccl/config.h
Owners: none

Windows update
  build/CMakeFiles/4.1.1/CMakeDetermineCompilerABI_C.bin
  build/CMakeFiles/4.1.1/CMakeDetermineCompilerABI_CXX.bin
  build/CMakeFiles/4.1.1/CompilerIdC/CompilerIdC.exe
  build/CMakeFiles/4.1.1/CompilerIdC/Debug/CMakeCCompilerId.obj
  build/CMakeFiles/4.1.1/CompilerIdCXX/CompilerIdCXX.exe
  build/CMakeFiles/4.1.1/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
  build/CMakeFiles/CMakeConfigureLog.yaml
  build/CMakeFiles/FindOpenMP/ompver_C.bin
  build/CMakeFiles/FindOpenMP/ompver_CXX.bin
  build/include/oneapi/ccl/config.h
  build/oneCCLConfigVersion.cmake
  build/src/ccl-objects.dir/Release/bf16_intrisics.obj
  build/src/ccl-objects.dir/Release/fp16_intrisics.obj
  build/src/ccl-objects.dir/Release/framework.obj
  build/third-party-programs.txt
  include/oneapi/ccl/config.h
Owners: @nikitaxgusev, @srirajpaul, @Maria1Petrova

Windows Update
  include/oneapi/ccl/config.h.in
Owners: none

Windows Update
  build/CMakeFiles/4.1.1/CMakeDetermineCompilerABI_C.bin
  build/CMakeFiles/4.1.1/CMakeDetermineCompilerABI_CXX.bin
  build/CMakeFiles/4.1.1/CompilerIdC/CompilerIdC.exe
  build/CMakeFiles/4.1.1/CompilerIdC/Debug/CMakeCCompilerId.obj
  build/CMakeFiles/4.1.1/CompilerIdCXX/CompilerIdCXX.exe
  build/CMakeFiles/4.1.1/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
  build/CMakeFiles/CMakeConfigureLog.yaml
  build/CMakeFiles/FindOpenMP/ompver_C.bin
  build/CMakeFiles/FindOpenMP/ompver_CXX.bin
  build/include/oneapi/ccl/config.h
  build/src/ccl-objects.dir/Release/bf16_intrisics.obj
  build/src/ccl-objects.dir/Release/ccl-objects.tlog/CL.read.1.tlog
  build/src/ccl-objects.dir/Release/ccl-objects.tlog/CL.write.1.tlog
  build/src/ccl-objects.dir/Release/export.obj
  build/src/ccl-objects.dir/Release/fp16_intrisics.obj
  build/src/ccl-objects.dir/Release/framework.obj
  include/oneapi/ccl/comm_attr.hpp
  include/oneapi/ccl/comm_split_attr.hpp
  include/oneapi/ccl/comm_split_attr_ids_traits.hpp
  include/oneapi/ccl/config.h
  include/oneapi/ccl/device_type_traits.hpp
  include/oneapi/ccl/type_traits.hpp
  include/oneapi/ccl/types_policy.hpp
  src/ccl_app_api_comm_attr.cpp
  src/ccl_app_api_comm_split_attr.cpp
Owners: @nikitaxgusev, @srirajpaul

Windows Update
  build/CMakeFiles/4.1.1/CMakeDetermineCompilerABI_C.bin
  build/CMakeFiles/4.1.1/CMakeDetermineCompilerABI_CXX.bin
  build/CMakeFiles/4.1.1/CompilerIdC/CompilerIdC.exe
  build/CMakeFiles/4.1.1/CompilerIdC/Debug/CMakeCCompilerId.obj
  build/CMakeFiles/4.1.1/CompilerIdCXX/CompilerIdCXX.exe
  build/CMakeFiles/4.1.1/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
  build/CMakeFiles/CMakeConfigureLog.yaml
  build/CMakeFiles/FindOpenMP/ompver_C.bin
  build/CMakeFiles/FindOpenMP/ompver_CXX.bin
  build/src/ccl-objects.dir/Release/bf16_intrisics.obj
  build/src/ccl-objects.dir/Release/export.obj
  build/src/ccl-objects.dir/Release/fp16_intrisics.obj
  build/src/ccl-objects.dir/Release/framework.obj
  include/oneapi/ccl/config.h.in
  include/oneapi/ccl/lp_types.hpp
  include/oneapi/ccl/type_traits.hpp
  include/oneapi/ccl/types.hpp
  src/CMakeLists.txt
  src/ccl_api_functions.cpp
  src/ccl_app_api_coll_attr.cpp
  src/ccl_app_api_comm_split_attr.cpp
Owners: @nikitaxgusev, @srirajpaul

Windows Update
  build/CMakeFiles/4.1.1/CMakeDetermineCompilerABI_C.bin
  build/CMakeFiles/4.1.1/CMakeDetermineCompilerABI_CXX.bin
  build/CMakeFiles/4.1.1/CompilerIdC/CompilerIdC.exe
  build/CMakeFiles/4.1.1/CompilerIdC/Debug/CMakeCCompilerId.obj
  build/CMakeFiles/4.1.1/CompilerIdCXX/CompilerIdCXX.exe
  build/CMakeFiles/4.1.1/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
  build/CMakeFiles/CMakeConfigureLog.yaml
  build/CMakeFiles/FindOpenMP/ompver_C.bin
  build/CMakeFiles/FindOpenMP/ompver_CXX.bin
  build/include/oneapi/ccl/config.h
  build/src/ccl-objects.dir/Release/bf16_intrisics.obj
  build/src/ccl-objects.dir/Release/ccl-objects.tlog/CL.command.1.tlog
  build/src/ccl-objects.dir/Release/export.obj
  build/src/ccl-objects.dir/Release/fp16_intrisics.obj
  build/src/ccl-objects.dir/Release/framework.obj
  build/src/ccl-objects.vcxproj
  build/src/ccl-static.vcxproj
  build/src/ccl.vcxproj
  build/src/ext/openmp/ccl_openmp.vcxproj
  include/oneapi/ccl/config.h
  src/CMakeLists.txt
Owners: @nikitaxgusev, @srirajpaul

Windows Update
  build/CMakeCache.txt
  build/CMakeFiles/4.1.1/CMakeDetermineCompilerABI_C.bin
  build/CMakeFiles/4.1.1/CMakeDetermineCompilerABI_CXX.bin
  build/CMakeFiles/4.1.1/CompilerIdC/CompilerIdC.exe
  build/CMakeFiles/4.1.1/CompilerIdC/Debug/CMakeCCompilerId.obj
  build/CMakeFiles/4.1.1/CompilerIdCXX/CompilerIdCXX.exe
  build/CMakeFiles/4.1.1/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
  build/CMakeFiles/CMakeConfigureLog.yaml
  build/CMakeFiles/FindOpenMP/ompver_C.bin
  build/CMakeFiles/FindOpenMP/ompver_CXX.bin
  build/cmake_install.cmake
  build/examples/benchmark/cmake_install.cmake
  build/examples/common/cmake_install.cmake
  build/examples/cpu/cmake_install.cmake
  build/examples/external_launcher/cmake_install.cmake
  build/examples/pt2pt/cmake_install.cmake
  build/src/ccl-objects.dir/Release/bf16_intrisics.obj
  build/src/ccl-objects.dir/Release/ccl-objects.tlog/CL.command.1.tlog
  build/src/ccl-objects.dir/Release/export.obj
  build/src/ccl-objects.dir/Release/fp16_intrisics.obj
  build/src/ccl-objects.dir/Release/framework.obj
  build/src/ccl-objects.vcxproj
  build/src/ccl.vcxproj
  build/src/cmake_install.cmake
  build/src/ext/cmake_install.cmake
  build/src/ext/openmp/cmake_install.cmake
  build/tests/functional/cmake_install.cmake
  build/tests/functional/gtest_build/cmake_install.cmake
  build/tests/functional/gtest_build/googletest/cmake_install.cmake
Owners: @nikitaxgusev, @srirajpaul

Windows Update
  include/oneapi/ccl/type_traits.hpp
Owners: none

Windows Update
  include/oneapi/ccl/config.h.in
Owners: none

Windows Update
  include/oneapi/ccl/config.h.in
Owners: none

update
  build/CMakeFiles/4.1.1/CMakeDetermineCompilerABI_C.bin
  build/CMakeFiles/4.1.1/CMakeDetermineCompilerABI_CXX.bin
  build/CMakeFiles/4.1.1/CompilerIdC/CompilerIdC.exe
  build/CMakeFiles/4.1.1/CompilerIdC/Debug/CMakeCCompilerId.obj
  build/CMakeFiles/4.1.1/CompilerIdCXX/CompilerIdCXX.exe
  build/CMakeFiles/4.1.1/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
  build/CMakeFiles/CMakeConfigureLog.yaml
  build/CMakeFiles/FindOpenMP/ompver_C.bin
  build/CMakeFiles/FindOpenMP/ompver_CXX.bin
  build/include/oneapi/ccl/config.h
  build/src/ccl-objects.dir/Release/bf16_intrisics.obj
  build/src/ccl-objects.dir/Release/ccl-objects.tlog/CL.read.1.tlog
  build/src/ccl-objects.dir/Release/ccl-objects.tlog/CL.write.1.tlog
  build/src/ccl-objects.dir/Release/export.obj
  build/src/ccl-objects.dir/Release/fp16_intrisics.obj
  build/src/ccl-objects.dir/Release/framework.obj
  include/oneapi/ccl/config.h
  include/oneapi/ccl/lp_types.hpp
Owners: @nikitaxgusev, @srirajpaul

Windows Update
  CMakeLists.txt
Owners: none

update
  build/CMakeFiles/CMakeConfigureLog.yaml
Owners: none

update build files
  build/CMakeFiles/4.1.1/CMakeDetermineCompilerABI_C.bin
  build/CMakeFiles/4.1.1/CMakeDetermineCompilerABI_CXX.bin
  build/CMakeFiles/4.1.1/CompilerIdC/CompilerIdC.exe
  build/CMakeFiles/4.1.1/CompilerIdC/Debug/CMakeCCompilerId.obj
  build/CMakeFiles/4.1.1/CompilerIdCXX/CompilerIdCXX.exe
  build/CMakeFiles/4.1.1/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
  build/CMakeFiles/FindOpenMP/ompver_C.bin
  build/CMakeFiles/FindOpenMP/ompver_CXX.bin
  build/include/oneapi/ccl/config.h
  build/src/ccl-objects.dir/Release/bf16_intrisics.obj
  build/src/ccl-objects.dir/Release/fp16_intrisics.obj
  build/src/ccl-objects.dir/Release/framework.obj
  include/oneapi/ccl/config.h
Owners: @nikitaxgusev, @srirajpaul

windows update
  cmake/helpers.cmake
  include/oneapi/ccl/config.h.in
  include/oneapi/ccl/lp_types.hpp
  include/oneapi/ccl/type_traits.hpp
Owners: @nikitaxgusev, @srirajpaul

update
  build/CMakeFiles/4.1.1/CMakeDetermineCompilerABI_C.bin
  build/CMakeFiles/4.1.1/CMakeDetermineCompilerABI_CXX.bin
  build/CMakeFiles/4.1.1/CompilerIdC/CompilerIdC.exe
  build/CMakeFiles/4.1.1/CompilerIdC/Debug/CMakeCCompilerId.obj
  build/CMakeFiles/4.1.1/CompilerIdCXX/CompilerIdCXX.exe
  build/CMakeFiles/4.1.1/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
  build/CMakeFiles/CMakeConfigureLog.yaml
  build/include/oneapi/ccl/config.h
Owners: none

windows source code updates
  CMakeLists.txt
  cmake/helpers.cmake
  include/oneapi/ccl/config.h.in
  include/oneapi/ccl/lp_types.hpp
  include/oneapi/ccl/type_traits.hpp
  src/ccl_api_functions.cpp
  src/ccl_app_api_coll_attr.cpp
  src/ccl_app_api_comm_attr.cpp
  src/ccl_app_api_comm_split_attr.cpp
Owners: @nikitaxgusev, @srirajpaul

update
  src/ccl_app_api_datatype_attr.cpp
Owners: @nikitaxgusev, @srirajpaul

.github/CODEOWNERS:

# Documentation owners and reviewers
doc/        @Maria1Petrova @ranukund
*.md        @Maria1Petrova
man/        @nikitaxgusev @srirajpaul

# TTP files
third-party*    @Maria1Petrova

# Tests & examples
tests/    @nikitaxgusev @srirajpaul
examples/    @nikitaxgusev @srirajpaul

# Infrastructure and tools
.github/    @Maria1Petrova @nikitaxgusev

# Build & dev infrastructure
cmake/    @nikitaxgusev @srirajpaul

# C++ code
src/    @nikitaxgusev @srirajpaul
